footer {
    background-color: #5e3727;
    margin-top: 4rem;
}

hr {background-color: #5e3727;}

footer img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.footerImg {
    background: linear-gradient(#B75C3D, #a55d45);
}

.reservar {padding: .8rem 5rem;
    
}


@media screen and (max-width: 768px){
    footer img {width: 100%;}
}

@media screen and (max-width: 576px) {
    .opcoes {
        width: 35%;
    }
}

@media screen and (min-width: 577px) {
    .opcoes {
        width: auto;
    }
}
